<div class="container">
  <h4>Absen</h4>
  <hr>
  <form method="post" action="http://localhost:8000/absen">
      <div class="form-group">
          <label for="exampleInputEmail1">Ruang</label>
          <input name="ruang" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ruang">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">NRP</label>
        <input name="nrp" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NRP">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>