<html>
<head>
	<meta charset="utf-8">
	<title>Absensi</title>
	<script type="text/javascript" src="jquery-3.1.1.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">

    <link rel="stylesheet" type="text/css" href="semantic.css">
    <link rel="stylesheet" type="text/css" href="log.css">
		<link rel="stylesheet" type="text/css" href="clockpicker.css">
		<script type="text/javascript" src="clockpicker.js"> </script>
		<script type="text/javascript" src="bootstrap.js"> </script>


</head>
<body>
	<div class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" id="ab">Absensi</a></div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">

 		       <li class="nav-item"id="aa">
	     <a  href="#" class="nav-link"rel="nofollow">
	      Halo, 05111540000057
	     </a>
	  </li>

	  <li class="nav-item"id="aa">
	     <a href="/logout"class="nav-link"rel="nofollow">
	 		Logout
		 </a>
	  </li>
	</ul>
    </div>
    </div>
    </div>
    <% var error ; if (error) { %>
       <div class="alert alert-success"><%= error %></div>
     <% } %>

<div class = "ui main text container segment" style="margin: 0 auto; width: 40%;">
	<div class="ui header" style="text-align: center;"><h1>Sistem Kehadiran Online</h1></div>

 <!--    <h4 style="text-align: center;">Isi Data Berikut</h4> -->

	<form action="/" method="post">
	<div class="item" style="width:60%; margin: 0 auto; ">
        <div class="form-group">
			<h3>Nama</h3>
			<input type="text" class="form-control" placeholder="Name" name="name">
		</div>
        <div class="form-group">
			<h3>NRP</h3>
			<input type="text" class="form-control" placeholder="NRP" name="nrp">
		</div>
		<div class="form-group">
			<h3>Kelas</h3>
			<input type="text" class="form-control" placeholder="Kelas" name="kelas">
		</div>
		<h3>In-time</h3>
		<div class="input-group clockpicker">

		    <input type="text" class="form-control" placeholder="in-time" name="inTime">
		    <span class="input-group-addon">
		        <span class="glyphicon glyphicon-time"></span>
		    </span>
		</div>
		<h3>Out-time</h3>
		<div class="input-group clockpicker">

		    <input type="text" class="form-control" placeholder="out-time" name="outTime">
		    <span class="input-group-addon">
		        <span class="glyphicon glyphicon-time"></span>
		    </span>
		</div>
		
		<div class="form-group"  style="padding-top: 15px;" >
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
		</div>

	</div>
	</form>


</div>
<<!-- footer><h3 style="text-align: center;color:white">--Guru--</h3></footer>
 -->
<script type="text/javascript">
$('.clockpicker').clockpicker({
    placement: 'top',
    align: 'left',
    donetext: 'Done'
});
</script>
	<script type="text/javascript" src="jquery-3.1.1.min.js"> </script>
</body>
</html>
